* {
  padding: 0;
  box-sizing: border-box;
  /*background-color: #fff;*/
}
li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  /*background-color: #374045;*/
}
header,
nav,
ul {
  background-color: #374045;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 20px;
}
nav {
  /*display: table;*/
  order: 2;
  margin-right: auto;
  padding: 10px 10px;
}
.container-fluid {
  padding: 0;
}
.navbar-brand {
  margin-right: 0;
}

.navbar {
  padding: 0;
  align-items: flex-start;
}

.nav-item {
  padding: 0 18px;
}
.toggler-items {
  margin-right: 70px;
}

.logo {
  /*order:1;*/
  cursor: pointer;
  margin-right: auto;
  background-color: #374045;
  height: 40px;
  width: 40px;
}
/* .nav_links{
  list-style: none;
  text-align: left;
} */
/* .nav_links li{
  display: inline-block;
  padding: 0px 20px;

}
.nav_links li a{
  transition: all 0.3s ease 0s;
} */
button {
  /*margin-left: 20px;*/
  border-style: none;
  padding: 9px 25px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.background-img-snow {
  background-image: url("https://cdn.turkishairlines.com/m/37e3e29514b6f483/original/Mainpage-1400x600.webp");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  /*font-weight: 500;*/
  font-size: 30px;
  color: #fff;
}
.heading-backgroundimg {
  padding-top: 20px;
}
/*above is the heading div class,below is the h2 class*/
.heading-background {
  font-weight: 200;
}
.active {
  border: 2px rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  margin-right: 10px;
  vertical-align: middle;
}
.nav-pills {
  background-color: rgba(35, 43, 56, 0.25);
  backface-visibility: visible !important;
}
.btn {
  color: #fff;
}

.hidden,
.visible-lg,
.visible-md,
.visible-sm,
.visible-xs {
  display: none !important;
}
.bookings {
  text-align: center;
  margin-top: 30px;
}
.bookings ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  /* For IE, the outcast */
  zoom: 1;
  *display: inline;
}
.bookings li {
  float: left;
  padding: 2px 5px;
  border: 1px solid black;
}
/*@media (max-width: 767px) {
    .visible-sm, .visible-xs {
        visibility: visible!important;
      }
      .visible-xs {
          display: block!important;
      }
  }*/
/* .user-menu-mobile {
  display: inline-block;
  float: right;
} */
.user-menu-mobile li {
  display: inline-block;
}
